<a href="https://colab.research.google.com/github/dinipuspitarini/k-nearest-neighbors/blob/main/Tupro3_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tugas Pemrograman Pengantar AI 3 K-Nearest Neighbor**

(1301194141) Ni Made Dwipadini Puspitarini

(1301190318) Iqbal Saviola Syah Billhaq		

(1301194288) Afrizal Syahruluddin Yusuf

# **Import Library**

In [ ]:
import pandas as pd
import numpy as np

# **Read Dataset**

In [ ]:
!gdown --id 1mHvbeuKY-KZ_OqvHx_72Z5RcAPLMneIg

Downloading...
From: https://drive.google.com/uc?id=1mHvbeuKY-KZ_OqvHx_72Z5RcAPLMneIg
To: /content/mobil.xls
100% 29.2k/29.2k [00:00<00:00, 51.0MB/s]

In [ ]:
df = pd.read_excel('mobil.xls')
df.head(10)

       Nama Mobil  Ukuran  Kenyamanan  Irit  Kecepatan  Harga (Ratus Juta)
0     Toyota Agya       4           4     9          6                1.00
1   Daihatsu Alya       4           3     9          6                1.10
2   Toyota Avanza       6           5     6          6                2.00
3  Daihatsu Xenia       6           4     6          6                1.75
4         Xpander       7           7     6          7                2.25
5          Livina       7           7     6          7                2.10
6         Karimun       3           4    10          5                1.20
7   Toyota Innova       8           8     5          7                4.00
8         Alphard       9          10     4          8               10.00
9     Toyota Vios       5           7     9          8                2.50

# **Data Preprocessing**

In [ ]:
df.describe()

          Ukuran  Kenyamanan       Irit  Kecepatan  Harga (Ratus Juta)
count  17.000000   17.000000  17.000000  17.000000           17.000000
mean    6.529412    6.352941   6.941176   6.823529            3.247059
std     2.034627    2.234423   1.784327   1.131111            2.406597
min     3.000000    3.000000   4.000000   5.000000            0.800000
25%     5.000000    4.000000   6.000000   6.000000            1.750000
50%     7.000000    7.000000   7.000000   7.000000            2.300000
75%     8.000000    8.000000   9.000000   8.000000            5.000000
max    10.000000   10.000000  10.000000   9.000000           10.000000

In [ ]:
df.shape

(17, 6)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nama Mobil          17 non-null     object
 1   Ukuran              17 non-null     int64
 2   Kenyamanan          17 non-null     int64
 3   Irit                17 non-null     int64
 4   Kecepatan           17 non-null     int64
 5   Harga (Ratus Juta)  17 non-null     float64
dtypes: float64(1), int64(4), object(1)
memory usage: 944.0+ bytes

In [ ]:
df.isna().sum()

Nama Mobil            0
Ukuran                0
Kenyamanan            0
Irit                  0
Kecepatan             0
Harga (Ratus Juta)    0
dtype: int64

In [ ]:
df = df.rename({'Harga (Ratus Juta)': 'Harga'}, axis=1)
df.columns

Index(['Nama Mobil', 'Ukuran', 'Kenyamanan', 'Irit', 'Kecepatan', 'Harga'], dtype='object')

In [ ]:
def normalize(x):
  return ((x-x.min()) / (x.max()-x.min()))*10

col = list(df.iloc[:,[1,2,3,4,5]])                         
for i in range(len(col)):                     
  df[[col[i]]] = df[[col[i]]].apply(normalize)

df

              Nama Mobil     Ukuran  ...  Kecepatan      Harga
0            Toyota Agya   1.428571  ...        2.5   0.217391
1          Daihatsu Alya   1.428571  ...        2.5   0.326087
2          Toyota Avanza   4.285714  ...        2.5   1.304348
3         Daihatsu Xenia   4.285714  ...        2.5   1.032609
4                Xpander   5.714286  ...        5.0   1.576087
5                 Livina   5.714286  ...        5.0   1.413043
6                Karimun   0.000000  ...        0.0   0.434783
7          Toyota Innova   7.142857  ...        5.0   3.478261
8                Alphard   8.571429  ...        7.5  10.000000
9            Toyota Vios   2.857143  ...        7.5   1.847826
10            Honda City   2.857143  ...        7.5   2.065217
11          Toyota Hiace  10.000000  ...        2.5   4.565217
12       Toyota Fortuner   8.571429  ...        7.5   4.565217
13           Toyota Foxy   8.571429  ...        5.0   5.108696
14  Toyota Corolla Altis   2.857143  ...       10.0   5.652174
15         Suzuki Ertiga   5.714286  ...        5.0   1.630435
16          Suzuki Carry   5.714286  ...        0.0   0.000000

[17 rows x 6 columns]

# **Perhitungan Jarak**

In [ ]:
def euclidean_method(data1, data2):
  return np.sqrt(sum([(data1[i] - data2[i]) ** 2 for i in range(len(data1))]))

In [ ]:
def manhattan_method(data1, data2):
  return sum([abs(data1[i] - data2[i]) for i in range(len(data1))])

In [ ]:
def minkowski_method(data1, data2):
  return sum([abs(data1[i] - data2[i]) ** 1.5 for i in range(len(data1))]) ** (1/1.5)

In [ ]:
def supremum_method(data1, data2):
  return max([abs(data1[i] - data2[i]) for i in range(len(data1))])

In [ ]:
def get_neighbors(data1, data2, k):
    euclidean, manhattan, minkowski, supremum = [], [], [], []
    for i in range(len(data1)):
        row = data1.iloc[i, [1, 2, 3, 4, 5]].tolist()
        euclidean.append(
            [euclidean_method(row, data2), df['Nama Mobil'][i]])
        minkowski.append(
            [minkowski_method(row, data2), df['Nama Mobil'][i]])
        manhattan.append(
            [manhattan_method(row, data2), df['Nama Mobil'][i]])
        supremum.append(
            [supremum_method(row, data2), df['Nama Mobil'][i]])
    
    euclidean = sorted(euclidean)[:k]
    manhattan = sorted(manhattan)[:k]
    minkowski = sorted(minkowski)[:k]
    supremum = sorted(supremum)[:k]

    return euclidean, manhattan, minkowski, supremum

# **Klasifikasi KNN**

In [ ]:
def knn(data1, data2, k = 3):
  euclidean, manhattan, minkowski, supremum = get_neighbors(data1, data2, k)
  dist = [['Euclidean', euclidean], ['Manhattan', manhattan], [
      'Minkowski', minkowski], ['Supremum', supremum]]

  return dist

# **Main Program**

In [ ]:
ukuran = float(input("Kategori Ukuran Mobil \t\t: "))
kenyamanan = float(input("Kategori Kenyamanan Mobil \t: "))
irit = float(input("Kategori Keiritan Mobil \t: "))
kecepatan = float(input("Kategori Kecepatan Mobil \t: "))
harga = float(input("Kategori Harga Mobil \t\t: "))

dist = knn(df, [ukuran, kenyamanan, irit, kecepatan, harga])
for method in dist:
  print("\n--------------------------------------------------")
  print(f'|Metode yang digunakan : {method[0]}\t\t |')
  print("--------------------------------------------------")
  res_car = []
  for i, dist in enumerate(method[1]):
      print(f'{i+1}.Nama Mobil \t: {dist[1]} \n  Jarak \t: {round(dist[0], 2)}')
      res_car.append(dist[1])
  pd.DataFrame(res_car, columns=['Nama Mobil']).to_excel(
      f'rekomendasi_{method[0]}.xls', engine='openpyxl', index=False)

Kategori Ukuran Mobil 		: 5
Kategori Kenyamanan Mobil 	: 5
Kategori Keiritan Mobil 	: 5
Kategori Kecepatan Mobil 	: 5
Kategori Harga Mobil 		: 3

--------------------------------------------------
|Metode yang digunakan : Euclidean		 |
--------------------------------------------------
1.Nama Mobil 	: Suzuki Ertiga
  Jarak 	: 1.7
2.Nama Mobil 	: Xpander
  Jarak 	: 2.41
3.Nama Mobil 	: Livina
  Jarak 	: 2.51

--------------------------------------------------
|Metode yang digunakan : Manhattan		 |
--------------------------------------------------
1.Nama Mobil 	: Suzuki Ertiga
  Jarak 	: 2.8
2.Nama Mobil 	: Xpander
  Jarak 	: 4.52
3.Nama Mobil 	: Livina
  Jarak 	: 4.68

--------------------------------------------------
|Metode yang digunakan : Minkowski		 |
--------------------------------------------------
1.Nama Mobil 	: Suzuki Ertiga
  Jarak 	: 1.99
2.Nama Mobil 	: Xpander
  Jarak 	: 2.95
3.Nama Mobil 	: Livina
  Jarak 	: 3.06

--------------------------------------------------
|Metode yang digunakan : Supremum		 |
--------------------------------------------------
1.Nama Mobil 	: Suzuki Ertiga
  Jarak 	: 1.37
2.Nama Mobil 	: Livina
  Jarak 	: 1.67
3.Nama Mobil 	: Xpander
  Jarak 	: 1.67